* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

li {
    display: inline;
}

.container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.strip {
    width: 100%;
    height: 100%;
}

.clearfix {
    display: table;
    content: '';
    clear: both;
}

/* -----header------ */

header {
    background-color: #3a444e;
    color: #EFDC05;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

/* ----logo container---- */

#logo_container {
    float: left;
    width: 20%;
    height: 100%;
}

#logo_mobile {
  display: inline;
  background-color: #EFDC05;
  padding: 0 7px;
  border-radius: 14px;
  font-weight: bold;
  font-size: 39px;
  color: #1E2D3B;
}

#logo {
    display: none;
}

/*-----type nav-----*/
#type_nav {
    float: left;
    width: 40%;
    height: 100%;
    visibility: hidden;
    text-align: center;
}

#type_nav li {
    font-size: 18px;
    margin-right: 10px;

}

.activeButton{
    background-color: yellow;
    color: #1e2d3b;
    font-weight: bold;
    padding: 8px;
    border-radius: 20px;
}

#type_nav li i {
    font-size: 20px;
}

#see_film span,
#see_serieTv span {
    display: none;
}

/* -----search container----- */

#search_container {
    float: left;
    width: 40%;
    height: 100%;
    text-align: right;
}

#search_container input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 60px;
}

#search_container button {
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    background-color: #EFDC05;
    border-color: #cfc01a;
}

/* -----main------ */

main {
    background-color: #1E2D3B;
    width: 100%;
    min-height: calc(100vh - 70px);
    padding-top: 15px;
    padding-bottom: 50px;
}

.etichetta_sezione {
    display: none;
    background-color: #EFDC05;
    width: max-content;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

#display_film, #display_serieTv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #2e3a46;
    width: 100%;
    /* height: 450px; */
    color: #fff;
    border: 0.5px solid #454545;
    position: relative;
    /*ultima agg*/
    transition: transform 1s;
    transform-style: preserve-3d;
}
/* .card:hover .locandina {
    display: none;
}

.card:hover .box_info_film {
    display: block;
} */

.locandina,
.box_info_film {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.locandina img {
    width: 100%;
    height: 100%;
}
.box_info_film {
    /* display: none; */
    background-color: #3a444e;
    border: 1px solid #EFDC05;
    padding: 15px;
    transform: rotateY( 180deg );
    position: absolute;
}

.card:hover {
  transform: rotateY(180deg);
}

.box_info_film span {
    padding: 5px 0;
    display: block;
}

.box_info_film span:last-child {
    font-size: 14px;
    overflow-y: auto;
    height: 240px;
}

.titolo {
    color: #EFDC05;
    font-size: 20px;
    font-weight: bold;
}

.stelle {
    padding-top: 10px;
}

.stelle i {
    padding: 6px;
    font-size: 20px;
    color: #EFDC05;
}

.bandiera img {
    height: 20px;
    vertical-align: middle;
}

.cast {
    font-size: 12px;
    color: #f8f3b7;
    height: 50px;
    overflow-y: hidden;
}

#error {
    background-color: #efdc05;
    color: #050505;
    padding: 30px;
    border-radius: 5px;
    letter-spacing: 0.50px;
    margin-left: 15px;
}

/* ----media query----- */

@media screen and (min-width: 768px) {
    .card {
        width: 50%;
    }

    #logo_mobile {
        display: none;
    }

    #logo {
        display: inline-block;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 1px;
    }

    #search_container input {
        width: 170px;
    }

    #type_nav li {
        margin-right: 24px;
    }

    #see_film span,
    #see_serieTv span {
        display: inline-block;
    }

    #type_nav li i {
    margin-right: 15px;
    }

    #type_nav {
    text-align: left;
    }

    .activeButton {
        padding: 23px;
        border-radius: 0;
    }
}

@media screen and (min-width: 992px) {
    .card {
        width: 20%;
    }

}
