* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.container::after {
    display: table;
    content: '';
    clear: both;
}

/* -----header------ */

header {
    background-color: #3a444e;
    width: 100%;
    height: 70px;
    line-height: 70px;
}

#logo_container {
    float: left;
    width: 40%;
    height: 100%;
}

#logo {
    font-weight: bold;
    color: #EFDC05;
    font-size: 30px;
    letter-spacing: 1px;
}

#search_container {
    float: left;
    width: 60%;
    height: 100%;
    text-align: right;
}

#search_container input {
    padding: 5px;
    border-radius: 5px;
    border: none
}

#search_container button {
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    background-color: #EFDC05;
    border-color: #cfc01a;
}

/* -----main------ */

main {
    background-color: #1E2D3B;
    width: 100%;
    min-height: calc(100vh - 70px);
}

main .container {padding: 50px 0;}

.etichetta_sezione {
    float: left;
    width: 6%;
}

.etichetta_sezione h2 {
    display: none;
    color: #EFDC05;
}

#display_film, #display_serieTv {
    float: right;
    width: 94%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    background-color: #2e3a46;
    width: 250px;
    height: 550px;
    color: #fff;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.locandina {
    width: 220px;
    height: 300px;
    border: 0.5px solid #454545;
}

.locandina img {
    width: 100%;
    height: 100%;
}

.info_film ul {
    list-style: none;
    padding-top: 15px;
}
.info_film li {
    padding-bottom: 10px;
}

.info_film li:first-child {
    color: #f0e786;
    font-size: 20px;
    font-weight: bold;
}

.info_film li:last-child {
    text-align: center;
    padding-top: 10px;
}

.info_film i {
    padding: 6px;
    font-size: 20px;
    color: #EFDC05;
}

.bandiera img {
    height: 20px;
    vertical-align: middle;
}

#error {
    background-color: #efdc05;
    color: #050505;
    padding: 30px;
    border-radius: 20px;
    letter-spacing: 0.50px;
}
